src/java/is/idega/idegaweb/egov/company/banking/ws/IcelandicOnlineBankingPayments.wsdl

<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pws="http://IcelandicOnlineBanking/2005/12/01/Payments" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ct="http://IcelandicOnlineBanking/2005/12/01/CommonTypes" xmlns:pt="http://IcelandicOnlineBanking/2005/12/01/PaymentTypes" targetNamespace="http://IcelandicOnlineBanking/2005/12/01/Payments">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://IcelandicOnlineBanking/2005/12/01/Payments">
			<xs:import namespace="http://IcelandicOnlineBanking/2005/12/01/CommonTypes" schemaLocation="IcelandicOnlineBankingTypes.xsd"/>
			<xs:import namespace="http://IcelandicOnlineBanking/2005/12/01/PaymentTypes" schemaLocation="IcelandicOnlineBankingPaymentTypes.xsd"/>
			<xs:element name="DoPayment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payment" type="pt:Payment"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DoPaymentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentsResult" type="pt:PaymentsResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DoPayments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="payments" type="pt:Payments"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DoPaymentsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentsID" type="ct:OperationID"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPaymentResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentID" type="ct:OperationID"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPaymentResultResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentsResult" type="pt:PaymentsResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPaymentsResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentID" type="ct:OperationID"/>
						<xs:element name="filter" type="pt:PaymentsStatus">
							<xs:annotation>
								<xs:documentation xml:lang="en-US">Filter for the level of detail of the result of an operation.</xs:documentation>
								<xs:documentation xml:lang="is-IS">Sía á nákvæmni fyrirspurnar um niðurstöðu aðgerðar.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPaymentsResultResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentsResult" type="pt:PaymentsResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="DoPaymentSoapIn">
		<part name="parameters" element="pws:DoPayment"/>
	</message>
	<message name="DoPaymentSoapOut">
		<part name="parameters" element="pws:DoPaymentResponse"/>
	</message>
	<message name="DoPaymentsSoapIn">
		<part name="parameters" element="pws:DoPayments"/>
	</message>
	<message name="DoPaymentsSoapOut">
		<part name="parameters" element="pws:DoPaymentsResponse"/>
	</message>
	<message name="GetPaymentResultSoapIn">
		<part name="parameters" element="pws:GetPaymentResult"/>
	</message>
	<message name="GetPaymentResultSoapOut">
		<part name="parameters" element="pws:GetPaymentResultResponse"/>
	</message>
	<message name="GetPaymentsResultSoapIn">
		<part name="parameters" element="pws:GetPaymentsResult"/>
	</message>
	<message name="GetPaymentsResultSoapOut">
		<part name="parameters" element="pws:GetPaymentsResultResponse"/>
	</message>
	<portType name="IcelandicOnlineBankingPaymentsSoap">
		<operation name="DoPayment">
			<input message="pws:DoPaymentSoapIn"/>
			<output message="pws:DoPaymentSoapOut"/>
		</operation>
		<operation name="DoPayments">
			<input message="pws:DoPaymentsSoapIn"/>
			<output message="pws:DoPaymentsSoapOut"/>
		</operation>
		<operation name="GetPaymentResult">
			<input message="pws:GetPaymentResultSoapIn"/>
			<output message="pws:GetPaymentResultSoapOut"/>
		</operation>
		<operation name="GetPaymentsResult">
			<input message="pws:GetPaymentsResultSoapIn"/>
			<output message="pws:GetPaymentsResultSoapOut"/>
		</operation>
	</portType>
	<binding name="IcelandicOnlineBankingPaymentsSoap" type="pws:IcelandicOnlineBankingPaymentsSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="DoPayment">
			<soap:operation soapAction="http://IcelandicOnlineBanking/2005/12/01/DoPayment" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DoPayments">
			<soap:operation soapAction="http://IcelandicOnlineBanking/2005/12/01/DoPayments" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetPaymentResult">
			<soap:operation soapAction="http://IcelandicOnlineBanking/2005/12/01/GetPaymentResult" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetPaymentsResult">
			<soap:operation soapAction="http://IcelandicOnlineBanking/2005/12/01/GetPaymentsResult" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="IcelandicOnlineBankingPaymentsService">
		<port name="IcelandicOnlineBankingPaymentsSoap" binding="pws:IcelandicOnlineBankingPaymentsSoap">
			<soap:address location="https://b2bws.fbl.is/payments.asmx"/>
		</port>
	</service>
</definitions>
