src/java/is/idega/idegaweb/egov/company/banking/ws/IcelandicOnlineBankingStatements.wsdl

<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sws="http://IcelandicOnlineBanking/2005/12/01/Statements" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ct="http://IcelandicOnlineBanking/2005/12/01/CommonTypes" xmlns:st="http://IcelandicOnlineBanking/2005/12/01/StatementTypes" targetNamespace="http://IcelandicOnlineBanking/2005/12/01/Statements">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://IcelandicOnlineBanking/2005/12/01/Statements">
			<xs:import namespace="http://IcelandicOnlineBanking/2005/12/01/CommonTypes" schemaLocation="IcelandicOnlineBankingTypes.xsd"/>
			<xs:import namespace="http://IcelandicOnlineBanking/2005/12/01/StatementTypes" schemaLocation="IcelandicOnlineBankingStatementTypes.xsd"/>
			<xs:element name="GetAccountStatement">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="accountStatement" type="st:AccountStatement"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAccountStatementResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="accountStatementResponse" type="st:AccountStatementResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CurrencyRateRequest">
				<xs:annotation>
					<xs:documentation>Comment describing your root element</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="currencyType" type="ct:CurrencyType"/>
						<xs:element name="date" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CurrencyRateResponse">
				<xs:annotation>
					<xs:documentation>Comment describing your root element</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="currencyRates" type="ct:CurrencyRate" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="GetAccountStatementSoapIn">
		<part name="parameters" element="sws:GetAccountStatement"/>
	</message>
	<message name="GetAccountStatementSoapOut">
		<part name="parameters" element="sws:GetAccountStatementResponse"/>
	</message>
	<message name="GetCurrencyRatesSoapIn">
		<part name="parameters" element="sws:CurrencyRateRequest"/>
	</message>
	<message name="GetCurrencyRatesSoapOut">
		<part name="parameters" element="sws:CurrencyRateResponse"/>
	</message>
	<portType name="IcelandicOnlineBankingStatementsSoap">
		<operation name="GetAccountStatement">
			<input message="sws:GetAccountStatementSoapIn"/>
			<output message="sws:GetAccountStatementSoapOut"/>
		</operation>
		<operation name="GetCurrencyRates">
			<input message="sws:GetCurrencyRatesSoapIn"/>
			<output message="sws:GetCurrencyRatesSoapOut"/>
		</operation>
	</portType>
	<binding name="IcelandicOnlineBankingStatementsSoap" type="sws:IcelandicOnlineBankingStatementsSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetAccountStatement">
			<soap:operation soapAction="http://IcelandicOnlineBanking/2005/12/01/GetAccountStatement" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCurrencyRates">
			<soap:operation soapAction="http://IcelandicOnlineBanking/2005/12/01/GetCurrencyRates" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="IcelandicOnlineBankingStatementsService">
		<port name="IcelandicOnlineBankingStatementsSoap" binding="sws:IcelandicOnlineBankingStatementsSoap">
			<soap:address location="https://b2bws.fbl.is/statements.asmx"/>
		</port>
	</service>
</definitions>
